@using restaurante.Controllers;
@using restaurante.Models;
@model List<restaurante.Models.tblPlato>
@{
    ViewBag.Title = "Home";
    //grid view
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Restautante Sabor a mi MVC</h1>

        <form>
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <label for="tipoDoc">Tipo de documento</label>
                            @*<select name="txttipoDoc" id="tipoDoc" class="form-control">
                                <option>Seleccione un tipo de documento</option>
                            </select>*@
                            <div>
                                @Html.DropDownList("Tipo de Documento:", ViewData["TipoDocumento"] as SelectList)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="nroTipoDoc">Numero de documento</label>
                            <input type="text" class="form-control" name="txtnroTipoDoc" placeholder="Ingrese nro del documento" required>
                            <button type="submit" name="btnConsultarCliente">Consultar cliente</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" name="txtnombre" disabled>
                        </div>
                    </div>
                   
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" name="txtapellido" disabled>
                        </div>
                    </div>                    
                </div>
                

                <div class="form-group">
                    <label for="nroMesa">Numero de la mesa</label>
                    @*<select name="nroMesa" id="nroMesa" class="form-control">
                        <option>Seleccione una mesa</option>
                    </select>*@
                    <div>
                        @Html.DropDownList("Mesa:", ViewData["Mesa"] as SelectList)
                    </div>
                </div>

                <h2>Alimentos</h2>
                <table id="teibol">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><input type="checkbox" name="arroz" /></th>
                            <td>1</td>
                            <td>Arroz</td>
                            <td>1500</td>
                            <td><input type="text" name="txtCantidad" required /></td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <label for="total">Total</label>
                    <input type="text" class="form-control" name="txtTotal">
                </div>

                <div class="form-group">
                    <button type="submit" name="btnRegistrar">Registrar orden</button>
                    <button type="submit" name="btnConsultar">Consultar orden</button>
                    <button type="submit" name="btnEditar">Editar orden</button>
                </div>
            </div>
                   

            <div>
                @Html.DropDownList("Plato:", ViewData["Plato"] as SelectList)
            </div>          

            @*grid view*@
            @*<div>
                @grid.GetHtml(
         //tableStyle: "",
         //headerStyle:"",
         //footerStyle:"",
         //alternatingRowStyle:"",
         //rowStyle:"",
         columns: grid.Columns(
             grid.Column(columnName: "idPlato", header: "idPlato"),
             grid.Column(columnName: "nombrePlato", header: "nombrePlato"),
             grid.Column(columnName: "precio", header: "precio")
             ))

            </div>*@  
                   
        </form>

    </div>
</body>
</html>